<div class="columns is-centered">
  <%= image_tag(@dog.image, alt: "#{@dog.name} Image", size: '300x200') %>
  <div class="content">
    <strong><%= @dog.name %></strong> <small>Group: <%= link_to @dog.group.name, @dog.group %></small> <small>age: <%= @dog.age %></small>
    <br>
    <p>Country: <%= link_to @dog.country.name, @dog.country %></p>
    <p>Section: <%= link_to @dog.section.name, @dog.section %></p>
    <p>sound: <%= @dog.sound %></p>
    <p>size: <%= @dog.size %></p>
    <p>coat_length: <%= @dog.coat_length %></p>
    <%= link_to 'More Info', @dog.pdf, target: '_blank' %>
    <%= link_to 'Visit Website', @dog.url, target: '_blank' %>
  </div>
</div>