<nav class="navbar">
  <div class="navbar-menu">
    <div class="navbar-start">
      <p class="level-item has-text-centered">
        <%= link_to 'Home', root_path, class: 'link is-info' %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to 'Group',  groups_path, class: 'link is-info' %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to 'About Me', about_path, class: 'link is-info' %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to 'Section',  sections_path, class: 'link is-info' %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to 'Country',  countries_path, class: 'link is-info' %>
      </p>
      <p class="level-item has-text-centered">
        <%= link_to 'Dogs',  dogs_path, class: 'link is-info' %>
      </p>
    </div>
  </div>
</nav>